/* google font */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

* {
  margin: none;
  padding: none;
  font-family: "Poppins";
  color:#E0D3AF;
}